/* vaadin-app-layout {
  --vaadin-app-layout-drawer-overlay: false;
}
vaadin-drawer-toggle {
  margin: 0;
}
vaadin-app-layout::part(navbar) {
  min-height: 0;
}
div[data-milkdown-root='true'] {
  height: 100%;
  width: 100%;
}

.milkdown {
  width: 100%;
  max-width: 720px;
  background: red;
}

.milkdown img {
  max-width: 90%;
  max-height: 90%;
  height: auto;
  width: auto;
}

.milkdown .editor {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #f1f5f9;
} */
