vaadin-app-layout {
  --vaadin-app-layout-drawer-overlay: false;
}
vaadin-drawer-toggle {
  margin: 0;
}
vaadin-app-layout::part(navbar) {
  min-height: 0;
}
div[data-milkdown-root='true'] {
  height: 100%;
}
/* .milkdown {
  border: thick double #32a1ce;
  margin: 1rem 2rem;
} */

.milkdown .editor {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}
