vaadin-app-layout {
  --vaadin-app-layout-drawer-overlay: true;
}
vaadin-drawer-toggle {
  margin: 0;
}
vaadin-app-layout::part(navbar) {
  min-height: 0;
}
div[data-milkdown-root='true'] {
  height: 100%;
}
.milkdown {
  border: thick double #32a1ce;
  margin: 1rem 2rem;
}

.milkdown .editor {
  outline: none;
}
